
// breakpoints - 400px, 600px (maybe 900px)


@media(min-width: 0){

	p{
		font-weight: 400;
	}

	h3{
		font-size: 2em;
	}

	.intro{
		overflow: hidden;

	}

	header[role="banner"]{
		font-size: 1.4em;

		h2{
			font-size: 1em;
			margin-top: -1em;
		}
	}

	.summary{
		margin-top: 2em;
	}

	.explanation, .participation, .benefits, .requirements{
		width: 100%;
		box-sizing: border-box;
		padding: 2em;
		margin-top: 0.5em;
		color: $dark_accent;
		background-color: $light_accent;
	}


}


@media(min-width: 400px){

	.intro{
		padding: 0;
		padding-bottom: 1em;
		overflow: hidden;
	}

	header[role="banner"]{
		font-size: 2em;
	}

	.summary{
		margin-top: 3em;
		font-size: 1em;
	}

}



@media(min-width: 600px){

	h3{
		font-size: 2em;
	}

	p{
		font-weight: 700;
	}


	.intro{
		padding: 2em;
		box-sizing: border-box;
	}

	header[role="banner"]{
		font-size: 2.5em;
		width: 100%;
	}

	.summary{
		margin: 2em auto 0 auto;
		font-size: 1.2em;
	}

	.preamble{
		font-size: 1.2em;
	}


	.explanation, .participation, .benefits, .requirements{
		width: 40%;
		max-width: 600px;
		box-sizing: border-box;
		padding: 2em;
		margin: 0.5em auto;
		color: $dark_accent;
		background-color: $light_accent;
	}
}





@media(min-width: 900px){

	h3{
		font-size: 2.2em;
	}

	.intro{
		width: 100%;
		padding: 2em;
		box-sizing: border-box;
	}

	header[role="banner"]{
		margin-top: -2em;
		width: 100%;
		font-size: 3em;
	}

	.summary{
		margin: 2em auto 0 auto;
		font-size: 1.4em;
	}

	.preamble{
		margin-top: -2em;
		font-size: 1.4em;
		position: relative;
	}






}