
// breakpoints - 400px, 600px (maybe 900px)


@media(min-width: 0){

	p{
		font-weight: 400;
		line-height: 1.8;
	}

	h3{
		font-size: 2em;
	}

	.intro{
		overflow: hidden;

	}

	header[role="banner"]{
		font-size: 1.4em;

		h2{
			font-size: 1em;
			margin-top: -1em;
		}
	}

	.summary{
		margin-top: 2em;
	}

	.explanation, .participation, .benefits, .requirements{
		width: 100%;
	}

	footer{
		padding-top: 2em;
		a{
			font-size: 1.5em;
			margin: 0 0.1em;
		}
	}


}





@media(min-width: 400px){

	.intro{
		padding: 0;
		padding-bottom: 1em;
		overflow: hidden;
	}

	header[role="banner"]{
		font-size: 2em;
	}

	.summary{
		margin-top: 3em;
		font-size: 1em;
	}

}





@media(min-width: 600px){

	h3{
		font-size: 2em;
	}

	p{
		font-weight: 700;
		line-height: 2;
	}


	.intro{
		padding: 2em;
		box-sizing: border-box;
	}

	header[role="banner"]{
		font-size: 2.5em;
		width: 100%;
	}

	.summary{
		margin: 2em auto 0 auto;
		font-size: 1.2em;
	}

	.preamble{
		font-size: 1.2em;
	}


	.explanation, .participation, .benefits, .requirements{
		width: 70%;
		margin: 3em auto;
		position: relative;
	  	z-index: 1;
	  	
	  	&:before,
	  	&:after {
		    background: inherit;
		    content: '';
		    display: block;
		    height: 50%;
		    left: 0;
		    position: absolute;
		    right: 0;
		    z-index: -1;
		    -webkit-backface-visibility: hidden; // for Chrome Windows
		  }
	}


	.explanation, .benefits{
	  transform: rotate(-1deg);

	  p, h3{
	  	transform: rotate(1deg);
	  }

	  &:before {
	    top: 0;
	    transform: skewY(-3deg);
	    transform-origin: 100% 0;
	  }
	  
	  &:after {
	    bottom: 0;
	    transform: skewY(3deg);
	    transform-origin: 100%;
	  }
	}



	.participation, .requirements{
	  transform: rotate(1deg);

	  p, h3{
	  	transform: rotate(-1deg);
	  }

	  &:before {
	    top: 0;
	    transform: skewY(2deg);
	    transform-origin: 100% 0;
	  }
	  
	  &:after {
	    bottom: 0;
	    transform: skewY(-2deg);
	    transform-origin: 100%;
	  }
	}



	footer{
		padding-top: 2.5em;
		a{
			font-size: 1.8em;
			margin: 0 0.4em;
		}
	}

}





@media(min-width: 900px){

	h3{
		font-size: 2.2em;
	}

	.intro{
		width: 100%;
		padding: 2em;
		box-sizing: border-box;
	}

	header[role="banner"]{
		margin-top: -2em;
		width: 100%;
		font-size: 3em;
	}

	.summary{
		margin: 2em auto 0 auto;
		font-size: 1.4em;
	}

	.preamble{
		margin-top: -2em;
		font-size: 1.4em;
		position: relative;
	}


	.explanation, .participation, .benefits, .requirements{
		width: 75%;
		margin: 3em auto;
		position: relative;
	  	z-index: 1;
	  	
	  	&:before,
	  	&:after {
		    background: inherit;
		    content: '';
		    display: block;
		    height: 50%;
		    left: 0;
		    position: absolute;
		    right: 0;
		    z-index: -1;
		    -webkit-backface-visibility: hidden; // for Chrome Windows
	  }

	  &:nth-child(odd){
	  	float: left;
	  }

	  &:nth-child(even){
	  	float: right;
	  }
	}

}









