
// breakpoints - 400px, 600px (maybe 900px)


@media(min-width: 0){

	.intro{
		overflow: hidden;

	}

	header[role="banner"]{
		font-size: 1.4em;

		h2{
			font-size: 1em;
			margin-top: -1em;
		}
	}

	.summary{
		margin-top: 2em;
	}
}


@media(min-width: 400px){

	.intro{
		padding: 0;
		padding-bottom: 1em;
		overflow: hidden;
	}

	header[role="banner"]{
		font-size: 2em;
	}

	.summary{
		margin-top: 3em;
		font-size: 1em;
	}

	.preamble{

		h3{
			font-size: 2em;
		}
	}

}



@media(min-width: 600px){

	.intro{
		padding: 2em;
		box-sizing: border-box;
	}

	header[role="banner"]{
		font-size: 2.5em;
		width: 100%;
	}

	.summary{
		margin: 3em auto 0 auto;
		font-size: 1.2em;
	}

	.preamble{
		font-size: 1.2em;
	}
}





@media(min-width: 900px){

	.intro{
		width: 100%;
		padding: 2em;
		box-sizing: border-box;
	}

	header[role="banner"]{
		width: 100%;
		font-size: 4em;
	}

	.summary{
		margin: 3em auto 0 auto;
		font-size: 1.4em;
	}

	.preamble{
		margin-top: -2em;
		font-size: 1.4em;
		position: relative;
	}
}