
.main{
	box-sizing: border-box;
	background-color: rgba(80,50,62,0.8);
	padding-top: 1em;
}

.explanation, .participation, .benefits, .requirements{
	box-sizing: border-box;
	padding: 2em;
	margin-top: 0.5em;
	max-width: 600px;
	color: $primary_color;
	background-color: $light_accent;
}

.sidebar{
	background-color: $dark_accent;
}