
.main{
	box-sizing: border-box;
	background-color: $dark_accent;
	padding-top: 1em;
}

.explanation, .participation, .benefits, .requirements{
	box-sizing: border-box;
	padding: 2em;
	margin-top: 0.5em;
	max-width: 600px;
	color: $dark_accent;
	background-color: $light_accent;
}

.sidebar{
	background-color: $dark_accent;
}