
@import 'variables';

@import 'normalize';

@import 'header';

@import 'middle_main';

@import 'breakpoints';


body{
	background-color: $light_accent;
	width: 100%;
}


h3{
	font-family: "tablet-gothic-compressed";
	margin: 0 auto;
}

p{
	line-height: 1.8;
	font-family: "industry";
}

a{
	color: $secondary_color;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;

	&:hover{
		text-decoration: line-through;
	}
}








