
@import 'variables';

@import 'normalize';

@import 'header';

@import 'breakpoints';


body{
	background-color: $light_accent;
	width: 100%;
}

.main{
	box-sizing: border-box;
	background-color: $dark_accent;
	padding-top: 1em;
}

h3{
	font-family: "tablet-gothic-compressed";
	margin: 0 auto;
}

p{
	line-height: 1.8;
	font-family: "industry";
}

a{
	color: $secondary_color;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;

	&:hover{
		text-decoration: line-through;
	}
}

.explanation, .participation, .benefits, .requirements{
	width: 100%;
	box-sizing: border-box;
	padding: 2em;
	margin-top: 0.5em;
	color: $dark_accent;
	background-color: $light_accent;
}


