
@import 'variables';

@import 'normalize';

@import 'header';

@import 'breakpoints';


body{
	background-color: $light_accent;
	width: 100%;
}

.main{
	box-sizing: border-box;
	padding: 1em;
	background-color: $secondary_color;
}

h3{
	font-family: "tablet-gothic-compressed";
	margin: 0 auto;
}

p{
	line-height: 1.8;
}

a{
	color: $secondary_color;
	text-decoration: none;
	text-transform: uppercase;

	&:hover{
		text-decoration: line-through;
	}
}

.explanation{
	box-sizing: border-box;
	padding: 0.5em;
	margin: 0 2.5%;
}

.participation{
	width: 45%;
	background-color: blue;
	box-sizing: border-box;
	padding: 0.5em;
	margin: 0 2.5%;
	float: left;
}

.benefits{
	width: 45%;
	background-color: blue;
	box-sizing: border-box;
	padding: 0.5em;
	margin: 0 2.5%;
	float: left;
}

.requirements{
	width: 45%;
	background-color: blue;
	box-sizing: border-box;
	padding: 0.5em;
	margin: 0 2.5%;
	float: left;
}


