// purple #50323e
// dark blue #5f747e
// dark brown #322826
// off-white #f6f2ee



$primary_color: #f6f2ee; // purple
$secondary_color: #5f747e; // dark blue
$dark_accent: #322826; // dark brown
$light_accent: #50323e; // off-white