
@import '_normalize.css';

$primary_color: #d64139; //rgba(214, 65, 57, 100) RED
$secondary_color: #322826; //rgba(50, 40, 38, 100) DARK BROWN
$light_accent: #00b0c8; //rgba(0, 176, 200, 100) BLUE
$back_color: #b5ba72; //rgba(181, 186, 114, 100) TAN
$dark_accent: #330036; //rgba(51, 0, 54, 100) PURPLE


body{
	background-color: $back_color;

	p{
		color: $secondary_color;
	}
}


p{
	font-family: "signo";
}

h3{
	font-family: "industry";
}

.intro{
	width: 100%;
	background-color: $primary_color;
	border-top: 20px solid 
}

h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
	font-size: 5em;
	text-align: right;
}

h2{
	font-family: "industry";
}

.banner{
	width: 70%;
	margin: 0 auto;
	background-color: lightblue;
}
















